{% extends "templates/app.twig" %}

{% block container %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Statystyki <b>{{ baseStats.name }}</b></h3>
    </div>
    <div class="panel-body" style="clear: both;">
        <div style="width: 35%; float: left;">
            <img width="200px" height="200px" src="{{ path_for('home') }}avatar/{{ charStats.avatar }}.png" alt=""/>
        </div>
        <div class="well" style="width: 65%; float: right;">
            <legend>Informacje o użytkowniku</legend>
            <div class="form-group">
                <label class="control-label" for="damage">Obrażenia</label>
                <input class="form-control" id="damage" type="text" placeholder="{{ charStats.damage }}" disabled="">
            </div>
            <div class="form-group">
                <label class="control-label" for="dodge">Unik</label>
                <input class="form-control" id="dodge" type="text" placeholder="{{ charStats.dodge }}" disabled="">
            </div>
            <div class="form-group">
                <label class="control-label" for="critical">Cios krytyczny</label>
                <input class="form-control" id="critical" type="text" placeholder="{{ charStats.critical }}" disabled="">
            </div>
        </div>
        {% if baseStats.name != auth.user.name %}
            <a href="#" class="btn btn-primary">Walcz</a>
        {% endif %}
    </div>
</div>
{% endblock %}