<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Statystyki</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="input-group">
                <input type="text" style="text-align: right;" class="form-control" id="disabledInput" placeholder="{{ auth.user.cash }}" disabled>
                <span class="input-group-addon">$</span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" style="text-align: right;" class="form-control" id="disabledInput" placeholder="{{ auth.user.points }}" disabled>
                <span class="input-group-addon">pkt</span>
            </div>
        </div>
    </div>
</div>
                
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Produkty</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="raw_materials">Surowce</label>
            <input type="text" style="text-align: right;" class="form-control" id="raw_materials" placeholder="{{ auth.storage.raw_materials }}" disabled>
        </div>
        <div class="form-group">
            <label for="fabrics">Tekstylia</label>
            <input type="text" style="text-align: right;" class="form-control" id="fabrics" placeholder="{{ auth.storage.fabrics }}" disabled>
        </div>
        <div class="form-group">
            <label for="equipments">Sprzęt</label>
            <input type="text" style="text-align: right;" class="form-control" id="equipments" placeholder="{{ auth.storage.equipments }}" disabled>
        </div>
        <div class="form-group">
            <label for="food">Żywność</label>
            <input type="text" style="text-align: right;" class="form-control" id="food" placeholder="{{ auth.storage.food }}" disabled>
        </div>
    </div>
</div>